{{#section 'head'}}
   <title>{{text}}</title>
{{/section}}

<h1>Детальная информация о пользователе {{user.login}}</h1>

<div class="col-xs-6 col-xs-offset-3">
	<ul class="list-unstyled">
		<li><strong>Логин: </strong>{{user.login}}</li>
		<li><strong>Пароль: </strong>{{user.pass}}</li>
	</ul>
</div>